{% extends 'base.html' %}

{% block title %}Sensors{% endblock %}

{% block content %}
<div style="margin: 25px">
	<h1>Sensors Page</h1>
	<br>
	<a href="{{ url_for('sensors.register') }}">
		<button class="btn btn-primary">Register</button>
	</a>
	<br><br>
	{% for sensor in sensors %}
	<div class="card" style="width: 25rem;">
		<div class="card-body">
			<h5 class="card-title">{{ sensor.name }}</h5>
			<ul class="list-group list-group-flush">
				<li class="list-group-item">Id: {{ sensor.sid }}</li>
				<li class="list-group-item">Description:<br><br>{{ sensor.desc }}</li>
				<li class="list-group-item">State: {{ sensor.state }}</li>
				<li class="list-group-item"><button class="btn btn-danger" onclick="deleteSensor('{{ url_for('sensors.delete_sensor', sid=sensor.sid) }}')">Delete</button></li>
			</ul>
		</div>
	</div>
	<br>
	{% endfor %}
</div>
{% endblock %}

{% block scripts %}
<script src="/sensors/static/js/delete_sensor.js"></script>
{% endblock %}
